html,body{
    justify-content: center;
    background-color: rgb(2, 14, 26);
}
form{
    margin-top: 75px;
    align-self: center;
    background-color: azure;
    border-radius: 100px;
    width: 500px;
    height: 300px;
    padding-top: 100px;
    margin-left: 30%;
    text-align: center;
}
input[type=text], input[type=password] {
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }